.boxLife {
  padding: 1rem;
  border-radius: 5px;
  background-color: #333;
}

.modal {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #333;
}

.logos {
  display: flex;
  justify-content: center;
  width: 150px;
  aspect-ratio: 5/4;
  padding: 1rem;
  background: #666666;
  cursor: pointer;
  border-radius: 25px;
}
