.boxCard {
  margin: 10px 0;
  border: 1px solid #333;
  border-radius: 5px;
  width: 100%;
}

.button {
  padding: 5px;
  color: rgb(255, 255, 255);
  background: #666666;
  cursor: pointer;
  border-radius: 10px;
}
