.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  color: #fff;
  background: linear-gradient(
    135deg,
    #000,
    #333
  ); /* Fondo trasparente con opacità 0.5 */
  z-index: 1000;
}

.pl {
  padding-left: 100px;
}

.navbar a {
  color: #fff;
}
