.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  color: #fff;
  background: linear-gradient(135deg, #000, #333);
  z-index: 1000;
}

.pl {
  padding-left: 100px;
}

.navbar a {
  color: #fff;
}

.menuSm {
  padding: 1.5rem;
  background: linear-gradient(135deg, #333, #000);
  position: absolute;
  border: 1px solid #333;
  border-radius: 25px;
  top: 0;
  right: 0;
  margin: 40px 0 0 0;
  min-width: 140px;
}
